// Specific CSS for your home-page
.search-content {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 15em;
  margin: 0px 10px;
  input {
    border: none;
    height: 20px;
    width: 100%;
    &::placeholder {
      color: black;
      font-weight: bold;

    }
    &:focus{
      outline: none;
    }
  }
  label {
    font-size: 12px;
    color: grey;
  }
  .input-pin {
    display: flex;
    justify-content: space-between;
    i {
      color: white;
      font-size: 17px;
    }
  }
  div input {
    border: none;
    width: 100%;
    &::placeholder {
      color: black;
      font-weight: bold;

    }
    &:focus{
      outline: none;
    }
  }
  div label {
    font-size: 12px;
    color: grey;
  }
  .input-pin {
    display: flex;
    justify-content: space-between;
    i {
      color: white;
      font-size: 17px;
    }
  }
}



.search-submit {
  background-color: #0B5577;
  border: none;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 20px;
  input {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
  }
}

.search-wrapper {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 45px;
}


.search-content-title {
  font-size: 10px;
}

.search-content-input {
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
}

#search-address {
  width: 25vw;
}

.search-date {
  width: 20vw;
}

#search_starting, #search_ending {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 14px;
    padding: 0px;
    margin-bottom: 0px;
    height: 20px;
}
#banner-typed-text {
  font-size: 50px;
  color: white;
  font-weight: bold;
  position: relative;
}
.form-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

#banner-typed-text {
  position: relative;
  top: 100px;
  right: 500px;

}
