#parking-holder {
  display: flex;
}

#parkings-options {
  flex: 1 0 31%;
  height: 80vh;
}

#parkings-map {
  flex: 1 0 69%;
  height: 80vh;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  #parking-holder {
    display: flex;
    flex-direction: column-reverse;
  }
  #parkings-options {
    flex: none;

  }
}
