#parking-holder {
  display: flex;
}

#parkings-options {
  height: 76vh;
  min-width: 494px;
}

#parkings-map {
  flex: 1 0 auto;
  height: 76vh;
}

.index-filterbar{
  display: flex;
  align-items: center;
  #search-address {
    flex: 1 0 auto;
  }

  .search-date {
    width: 25vw;
  }

  #search_starting, #search_ending {
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: 14px;
      padding: 0px;
      margin-bottom: 0px;
      height: 20px;
  }
  .search-content-inner {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .search-content-outer {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    i {
      margin-right: 10px;
      font-size: 14px;
      color: #1498D5;
    }
  }
  .search-content {
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 0 !important;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 15em;
    margin: 0;
    input {
      border: none;
      height: 20px;
      width: 100%;
      &::placeholder {
        color: black;
        font-weight: bold;
      }
      &:focus{
        outline: none;
      }
    }
    label {
      font-size: 12px;
      color: grey;
    }
    .input-pin {
      display: flex;
      justify-content: space-between;
      i {
        color: white;
        font-size: 17px;
      }
    }
    div input {
      border: none;
      width: 100%;
      &::placeholder {
        color: black;
        font-weight: bold;
      }
      &:focus{
        outline: none;
      }
    }
    div label {
      font-size: 12px;
      color: grey;
    }
    .input-pin {
      display: flex;
      justify-content: space-between;
      i {
        color: white;
        font-size: 17px;
      }
    }
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  #parking-holder {
    display: flex;
    flex-direction: column-reverse;
  }
  #parkings-options {
    flex: none;

  }
}
