.parkingnew{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.form-wrapper{
  height: 85vh;
  width: 36%;
  background-image: white;
  border: 10px solid red;
  background-color: white;
}

.form{
  margin: 30px;
}
