<div id="bookingTabs" class="container">
  <ul class="nav nav-tabs tabs-underlined">
    <li class="active tab-underlined">
      <a  href="#1" data-toggle="tab">Bookings made</a>
    </li>
    <li class="tab-underlined">
      <a href="#2" data-toggle="tab">Bookings received</a>
    </li>
  </ul>

  <div class="tab-content booking-index-scroll">
    <div class="tab-pane active" id="1">
      <%= render 'bookings/made' %>
    </div>
    <div class="tab-pane" id="2">
      <%= render 'bookings/received' %>
    </div>
  </div>
</div>
