<div class="booking-wrapper">
  <div class="booking-sumary"></div>
  <div class="booking-complete-info">
    <div class="booking-car-info">
      <span class="booking-category">Car plate info</span>
      <div class="booking-car-plate">
        <span>Car plate</span>
        <p>put here car plate</p>
      </div>
    </div>
    <div class="booking-confirmation">
      <span class="booking-category">Confirm and pay</span>
      <div class="lot-cta">
        <a class="round-buttom" href="">
          <div class="vertical-align-items">
            Book now  |
            <strong>$ 50</strong>
          </div></a>
      </div>
    </div>
  </div>
