<div class="booking-wrapper">
  <div class="booking-summary">
    <div class="booking-head">
      <div class="booking-address">
        <span>Jean Jaures 1165</span>
        <img class="avatar-large" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      </div>
      <div class="booking-name">
        <span>Cochera de Rodrigo</span>
        <div class="booking-rating">
          <ul class= "list-inline booking-stars">
            <li><i class="fas fa-star rated"></i></li>
            <li><i class="fas fa-star rated"></i></li>
            <li><i class="fas fa-star rated"></i></li>
            <li><i class="fas fa-star rated"></i></li>
            <li><i class="fas fa-star rated"></i></li>
          </ul>
        </div>
      </div>
      <div class="booking-info">
        <span>Small Car</span>
        <div class="booking-features">
          <ul class= "list-inline booking-features">
            <li><i class="fas fa-umbrella active"></i></li>
            <li><i class="fas fa-umbrella active"></i></li>
            <li><i class="fas fa-umbrella active"></i></li>
            <li><i class="fas fa-umbrella active"></i></li>
          </ul>
        </div>
        <div class="booking-dates">
          <span>Feb 28 - 10:00 pm</span>
          <i class="fas fa-arrow-right primary-color margin-icon"></i>
          <span>Feb 28 - 18:00 pm</span>
        </div>
      </div>
    </div>
    <div class="booking-price">
      <span class="booking-category">Total</span>
      <div class="booking-price-details">
        <p>Hours</p>
        <p>8</p>
      </div>
      <div class="booking-price-details">
        <p>Price</p>
        <p>$ 50</p>
      </div>
      <div class="booking-price-details">
        <strong>Total</strong>
        <strong>$ 400</strong>
      </div>
    </div>
    <div class="booking-description">
      <div class="booking-description-details">
        <span class="booking-category">Space details</span>
        <div class="booking-description-distance">
          <i class="fas fa-male booking-distance"></i>
          <span>0.26km</span>
        </div>
      </div>
      <p> Garage with security. Available for smallcars.
      Underground garage. Safe Zone.</p>
      <div class="booking-description-link">
        <a class= "link-more" href="">Read More</a>
        <i class="fas fa-chevron-down primary-color icon-size"></i>
      </div>
    </div>

  </div>

  <div class="booking-complete-info">
    <div class="booking-status">
      <span class="booking-category">Approved</span>
      <i class="fas fa-check-circle approved-status"></i>
    </div>
    <div class="booking-map">
      <div class="booking-map-container">
        <div
        id="map"
        style="width: 100%; height: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

      </div>
    </div>
  </div>
</div>
</div>
</div>

