// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
@import "profile";
// @import "map";


#web-wrapper {
  min-height: 84vh;
}

a:hover {
  outline: none;
}

a:focus {
  outline: none;
}

a:active {
  outline: none;
}

input:hover {
  outline: none;
}

input:focus {
  outline: none;
}

input:active {
  outline: none;
}

.left {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

.left::-webkit-scrollbar {
    display: none; // Safari and Chrome
}
