// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "map";


#web-wrapper {
  min-height: 84vh;
}

a:hover {
  outline: none;
}

a:focus {
  outline: none;
}

a:active {
  outline: none;
}

input:hover {
  outline: none;
}

input:focus {
  outline: none;
}

input:active {
  outline: none;
}



.chat-box::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; // Safari and Chrome
}

.booking-index-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; // Safari and Chrome
}

.card-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; // Safari and Chrome
}

.lot::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;// Safari and Chrome
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: $primary;
}

.booking-index-scroll::-webkit-scrollbar-thumb {
    background-color: $primary;
}

.card-wrapper::-webkit-scrollbar-thumb {
    background-color: $primary;
}

.lot::-webkit-scrollbar-thumb {
    background-color: $primary;
}
