<footer class="page-footer font-small cyan darken-3">

      <div class="row">

        <div class="col-xs-12 col-md-3">
          <%= image_tag "logo_size_icon.png", width: 50 %>
        </div>

<!--         <div class="col-xs-12 col-md-3">
          <p>text</p>
          <p>text</p>
          <p>text</p>
        </div>

        <div class="col-xs-12 col-md-3">
          <p>text</p>
          <p>text</p>
          <p>text</p>
        </div> -->

        <div class="col-xs-12 col-md-3">


          <div class="icons-wrapper">
            <a class="">
              <i class="fab fa-facebook-f fa-lg fa-2x"> </i>
            </a>
            <a class="">
              <i class="fab fa-twitter fa-lg fa-2x"> </i>
            </a>
            <a class="">
              <i class="fab fa-linkedin-in fa-2x"> </i>
            </a>
            <a class="">
              <i class="fab fa-instagram fa-2x"> </i>
            </a>
          </div>
        </div>

      </div>

<!--       <div class="row">
        <div class="col-xs-12 col-md-6">
          text
        </div>
        <div class="col-xs-12 col-md-6 right-aligned">
          text
        </div>
      </div> -->

  </footer>


