<div class="lot">
  <div class="lot-head">
    <div class="lot-address">
      <span>Jean Jaures 1165</span>
      avatar
    </div>
    <div class="lot-name">
      <span>Cochera de Rodrigo</span>
      <div class="lot-rating">
        <ul class= "list-inline lot-stars">
          <li><i class="fas fa-star rated"></i></li>
          <li><i class="fas fa-star rated"></i></li>
          <li><i class="fas fa-star rated"></i></li>
          <li><i class="fas fa-star rated"></i></li>
          <li><i class="fas fa-star rated"></i></li>
        </ul>
      </div>
    </div>
    <div class="lot-info">
      <div class="lot-dates">
        <span>Feb 28 - 10:00 pm</span>
        <i class="fas fa-arrow-right"></i>
        <span>Feb 28 - 18:00 pm</span>
      </div>
      <div class="lot-cta"></div>
      <div class="lot-features">
        <ul class= "list-inline lot-features">
          <li><i class="fas fa-umbrella active"></i></li>
          <li><i class="fas fa-umbrella active"></i></li>
          <li><i class="fas fa-umbrella active"></i></li>
          <li><i class="fas fa-umbrella active"></i></li>
        </ul>
      </div>
      <span></span>
    </div>
  </div>
</div>
