<div class="lot">
  <div class="lot-head">
    <div class="lot-address">
      <span>Jean Jaures 1165</span>
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
    </div>
    <div class="lot-name">
      <span>Cochera de Rodrigo</span>
      <div class="lot-rating">
        <ul class= "list-inline lot-stars">
          <li><i class="fas fa-star rated"></i></li>
          <li><i class="fas fa-star rated"></i></li>
          <li><i class="fas fa-star rated"></i></li>
          <li><i class="fas fa-star rated"></i></li>
          <li><i class="fas fa-star rated"></i></li>
        </ul>
      </div>
    </div>
    <div class="lot-info">
      <div class="lot-dates">
        <span>Feb 28 - 10:00 pm</span>
        <i class="fas fa-arrow-right"></i>
        <span>Feb 28 - 18:00 pm</span>
      </div>
      <div class="lot-cta">Book now | $50</div>
      <div class="lot-features">
        <ul class= "list-inline lot-features">
          <li><i class="fas fa-umbrella active"></i></li>
          <li><i class="fas fa-umbrella active"></i></li>
          <li><i class="fas fa-umbrella active"></i></li>
          <li><i class="fas fa-umbrella active"></i></li>
        </ul>
      </div>
      <span>Small Car</span>
    </div>
  </div>
  <div class="lot-description">
    <span class="lot-category">Space details</span>
    <div class="lot-description-distance">
      <i class="fas fa-male"></i>
      <span>0.26km</span>
    </div>
    <p> Garage with security. Available for smallcars.
    Underground garage. Safe Zone.</p>
    <div class="lot-description-link">
      <a href="">Read More</a>
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="lot-photo-container">
    <span class="lot-category">Photos</span>
    <div class="lot-photo-group">
      <div class="lot-photo-big" style="background-image: url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg')"></div>
      <div class="photo-group-2">
        <div class="lot-photo-small" style="background-image: url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg')"></div>
        <div class="lot-photo-small" style="background-image: url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg')"></div>
      </div>
    </div>
  </div>
  <div class="lot-reviews">
    <span class="lot-category">Reviews</span>
    <%= render "shared/review" %>
  </div>
</div>
