<div class="review-container">
  <div class="review">
    <div class="review-description ">
      <ul class="list-inline">
        <li><img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
          <li><div class="review-name">
            <p>10/07/17</p>
            <h3>Gab Dehan</h3>
          </div>
        </li>
      </ul>
    </div>
    <div class="review-status">
      <ul class= "list-inline lot-stars">
        <li><i class="fas fa-star rated"></i></li>
        <li><i class="fas fa-star rated"></i></li>
        <li><i class="fas fa-star rated"></i></li>
        <li><i class="fas fa-star rated"></i></li>
        <li><i class="fas fa-star rated"></i></li>
      </ul>
    </div>
  </div>
  <div class="review-body">
    <p>
      I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
    </p>
  </div>
</div>
