<div class="review-container">
  <div class="review">
    <div class="review-description ">
      <ul class="list-inline">
        <li>
        <%= image_tag @booking.user.image, alt: "avatar-bordered", class:"avatar-large" %>
          <li><div class="review-name">
            <p><%= booking.reviews.last.date %></p>
             <h3><%= booking.user.identifierfull %></h3>
          </div>
        </li>
      </ul>
    </div>
    <div class="review-status">
      <ul class= "list-inline lot-stars">
     <li>

          <% booking.reviews.last.rating.times do %>
          <i class="fas fa-star rated"></i>
          <% end %>
          <% (5 - booking.reviews.last.rating).times do %>
          <i class="fas fa-star not-rated"></i>
          <% end %>

        </li>

    </ul>
  </div>
</div>
<div class="review-body">
  <p>
    <%= booking.reviews.last.content %>
  </p>
</div>
</div>
