<!-- <div class="profile-container">
  <div class="profile-menu">
    <div class="image-container">
      <img src="https://unsplash.com/photos/sibVwORYqs0.jpeg" alt="">
    </div>
    <ul>
      <li class="active">Personal Information</li>
      <li>Bookings</li>
      <li>My parking Lots</li>
      <li>History</li>
      <li>Log Out</li>
    </ul>
  </div>
  <div class="profile-content">
    <div class="actions">
      <i class="fa fa-cog"></i>
      <i class="fa fa-bell"></i>
    </div>
    <div class="pic">
      <img src="https://unsplash.com/photos/sibVwORYqs.jpeg" alt="">
      <h2>Meli Fernandez Sassone</h2>
      <span>Capa</span>
    </div>
    <div class="summary">
      <div class="content">
        <span>2</span>
        <span>Spaces</span>
      </div>
      <div class="content">
        <span>100</span>
        <span>Bookings</span>
      </div>
    </div>
    <div class="profile-details">
      <ul>
        <li><i class="fa fa-tags"></i>Funds Pending Payment<span> $450</span></li>
        <li><i class="fa fa-tags"></i>Earnings<span>$2360</span></li>
        <li><i class="fa fa-tags"></i>Reservations<span>12</span></li>
        <li><i class="fa fa-tags"></i>Friends<span>100</span></li>
      </ul>
    </div>
  </div>
</div>
 -->
