<h1>Parkings#index</h1>
<p>Find me in app/views/parkings/index.html.erb</p>
<%= render "shared/popup" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="parking-holder">
    <div id="parkings-options">
      <div class="card-wrapper">
      <%= render "shared/card" %>
      </div>
    </div>
    <div id="parkings-map">
      <div class="map">
      </div>
    </div>
  </div>
</div>
