.page-footer {
  height: 5vh;
  padding-top: 45px;
  p{
    margin: 0;
    padding: 0;
  }
  .item-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .right-aligned {
    text-align: right;
  }
}
