.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  border-top: 1px solid rgba(220,224,244,0.4)
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
  width: 200px;
  span{
    font-size: 14px;
    padding-left: 5px;
    padding-left: 0px 3px;
    padding-left: 30px;
  }
}
.message-name h3 {
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  padding: 0px 2px;
}
.message-icon-info {
  padding-right: 10px;
}
.message-name p {
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 1px;
}
.message-body {
  padding-left: 10px;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.8);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  min-width: 100px;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: $complementary;
}
.message-price {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px
}
.message-date{
  padding-bottom: 5px;
  span {
    padding-left: 5px;
  }
}

.message-action {
  margin-rigth: 10px;
   a{
    text-decoration: none;
    padding-right: 10px;
    color: #a8e3ff;
  }
}

.message-approved-status {
  color: green;
  margin-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}

.messsage-pending-status {
  color: $complementary;
  margin-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}

.messsage-decline-status {
  color: red;
  margin-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}

.message-border-i {
 border: 1px solid rgba(220,224,244,0.4);
 padding: 8px 8px;
 border-radius: 6px;
 background-color: white;
 color: $primary;
 font-weight: bold;
 font-size: 10px;
 span {
  padding-left: 3px;
  font-size: 13px;
 }
}

.message-border-i:hover {
 text-decoration: none;
 background-color: white;
 color: #0a86bf;
}

.message-info-small {
  font-size: 13px;
}

.message-name-space {
 display: flex;
  align-items: center;
}

.message-action-group {
  margin-top: 5px;
}
