.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid $primary;
}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
 border: 0px solid #ddd !important;
 padding-bottom: 1px !important;
}

.nav-tabs > li > a {
 border: 0px solid #ddd !important;
 padding-bottom: 1px !important;
}

.tab-content {
  color : black;
  padding : 5px 15px;
}

#bookingTabs {
  color : white;
}

#bookingTabBar {
  color : white;
}

.tab-underlined a:hover {
  background-color: transparent !important;
  color: #0593d3;
  opacity: 1;
  font-weight: bold;
}

.tabs-booking-height {
  height: 76vh !important;
}

.see-review {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding-left: 15px;
  margin: 0px;
}

.see-review:hover {
  text-decoration: none;
}
