.booking-wrapper {
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.booking-summary {
  flex: 1 0 30%;
  height: 81vh;
  width: 100%;
  color: $greytext;
  padding: 30px;
  background-color: white;
  margin: 20px 15px 0px 10px;
  box-shadow: 0px 0px 2px lightgrey;
  min-width: 443px;
}

.booking-complete-info, {
  flex: 1 0 64%;
  height: 81vh;
  width: 100%;
  color: $greytext;
  padding: 10px;
  background-color: white;
  margin: 20px 10px 0px 0px;
  box-shadow: 0px 0px 2px lightgrey;
}

.vertical-align-items {
  display: flex;
  align-items: center;
}

.booking-price-details{
  display: flex;
  align-items: center;
  margin: 0px 80px;
  padding: 2px 50px;
  height: 27px;
  justify-content: space-between;
  p{ display:flex}
}
.checkout-pad {
  padding-bottom: 13px;
}
.checkout-mar {
  padding-bottom: 8px;
}
.primary-color {
  color: $primary;
}
#booking-status {
  text-align: right;
  position: absolute;
  top: 107px;
  right: 20px;
  z-index: 3;
}
.booking-map {
  padding-top: 5px;
  padding-bottom-bottom: 20px;
  width:100%;
  height:98%;
}
.booking-status-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-car-info, .booking-description, .booking-price ,{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

.booking-car-info {
  padding-left: 20px;
  padding-top: 20px;
}

.booking-head {
  padding-bottom: 5px;
}

.booking-description, .booking-price, {
  border-bottom: 1px solid lightgrey;
  padding-top: 20px;
}

.booking-confirmation, {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:20px;
}

.booking-car-plate, {
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.booking-car-form, {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 0px 10px;
}

.booking-car-action {
  display: flex;
  justify-content: left;
  align-items: end;
  padding: 0px 8px;
  position: relative;
  top: -13px;
}

.booking-address, .booking-description-details, .booking-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booking-rating-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px
}

.margin-icon {
  margin: 0px 4px;
}
.booking-stars, .booking-distance {
 margin: 0px;
 padding-left: 10px;
 font-size: 12px;
}
.booking-stars li {
  padding: 0px;
}
.booking-category {
  font-size: 20px;
  font-weight: bold;
}

.booking-picture {
  height: 136px;
  display: flex;
  margin: 12px 10px
}
.booking-address {
  padding-bottom: 10px;
}
.booking-address span {
 font-size: 22px;
 font-weight: bold;
}

.booking-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.booking-checkout {
  text-align: center;
  margin: 0px 20px;
  font-weight: bold;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.checkout.arrow {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-left {
  padding-left: 15px;
}
.checkout-right {
  padding-right: 19px;
}
.checkout-hours {
  background-color: $lighter;
  color: white;
  font-size: 25px;
  padding: 13px 0px;
  margin-top: 4px;
}

.checkout-description-link {
  padding-bottom: 10px;
}
.checkout-total {
  font-size: 22px;
  padding: 18px 0px 10px 0px;
  text-align: right;
  color: rgb(150,150,150);
  p>span {
    font-size: 24px;
    color: rgb(74,74,74);
    padding-left: 4px;
  }
}

.checkout-total {
  p {margin-bottom: 0px;
  }
}
.chekout-header {
  color: rgb(150,150,150);
  font-size: 16px;
  text-align: left;
  padding-bottom: 2px;
}
.checkout-dates {
  text-align: left;
  font-size: 18px;
}

.booking-cta {
 text-align: center;
 display: flex;
 justify-content: start;
 align-items: center;
 padding-left: 10px;
 padding-top: 10px;
 width: 300px;
 strong {
  font-size: 22px;
}
}

.booking-description-distance {
  font-size: 13px;
}

.booking-photo-big {
  height: 200px;
  flex: 1 0 50%;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}

.booking-photo-group {
  display: flex;
  padding: 20px 0px;
}

.photo-group-2 {
  height: 200px;
  flex: 1 0 50%;
}

.booking-photo-small {
  height: 95px;
  flex: 1 0 50%;
  background-size: cover;
  background-position: center;
  width: 95%;
}

.photo-top {
  margin-bottom: 10px;
}

.link-more {
  font-size: 16px;
}

.icon-size {
 margin: 0px;
 padding-left: 3px;
 font-size: 16px;
}

.approved-status {
  color: green;
  margin-left: 8px;
  padding-right: 5px;
}

.pending-status {
  color: $complementary;
  margin-left: 8px;
  padding-right: 5px;
}

.declined-status {
  color: red;
  margin-left: 8px;
  padding-right: 5px;
}

.status-ap {
  color: green;
}

.status-pe {
  color: $complementary;
}

.status-di {
  color: red;
}

.booking-map-container {
  height:100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-map-details {
  margin-bottom: 15px;
}


.booking-features-group {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

}

.booking-user-info {
  margin-top: 15px;
  padding-left: 10px;
  span {
    font-weight: bold;
  }
}

.booking-terms {
  padding-left: 10px;
  font-size: 12px;
}

.booking-full-address {
  font-size: 16px;
  padding: 0px 10px;
}

.booking-full-address-dir {
  font-size: 14px;
}

.chekout-per-hour {
  font-size: 14px;
}

.booking-add-review {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.booking-review-center {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.booking-index-scroll {
  height: 70vh;
  width: 100%;
  overflow: scroll;
  min-width: 700px;
}
