.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  font-family: 'Raleway';
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.form-inputs{
  input{
    border-radius: 10px !important;
    background-color: #EDEDED
  }
}

.align-meli {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
