.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  font-family: 'Raleway';
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5FC2EF;
  border: none;
  border-radius: 50px;
  position: relative;
  left: 200px;

  }
}
